@tailwind base;

@tailwind components;
@tailwind utilities;

.bg-custom {
  background-color: #6B4226; /* custom color */
}
.background-hover{
    background-color: #4E2C1A;
    
}
@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(10px); }
  100% { opacity: 1; transform: translateY(0); }
}

@keyframes fadeInSlow {
  0% { opacity: 0; transform: translateY(20px); }
  100% { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 1.5s ease-out forwards;
}

.animate-fadeInSlow {
  animation: fadeInSlow 2s ease-out forwards;
}
